{% if not has_data %}Insufficient financial data to perform full strength assessment.{% else %}{% if dti %}Debt-to-income ratio is {{ dti }}, which is {{ dti_eval }} standard underwriting guidelines. {% endif %}{% if util %}Revolving credit utilization stands at {{ util }}. {% endif %}{% if ontime %}On-time payment rate over the last 12 months is {{ ontime }}. {% endif %}{% if derog %}There are {{ derog }} derogatory mark(s) on file. {% endif %}{% if bankruptcy %}A total of {{ bankruptcy }} bankruptcy event(s) have been recorded. {% endif %}{% if expected_loss %}Expected loss on this account is estimated at {{ expected_loss }}.{% endif %}{% endif %}
